[submodule "exportedModels"]
	path = exportedModels
	url = ssh://robEllenberg@dasl.mem.drexel.edu/home/projects/hubo/exportedModels
[submodule "huboJointConstants"]
	path = huboJointConstants
	url = https://github.com/thedancomplex/huboJointConstants.git
